.footer_section{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;

  h3{
    font-size: 18px;
    text-align: center;
    color: #212F3D;
    font-weight: normal;
  }

}